*{
    margin: 0;
    padding: 0;  
}

section.main{
    position:absolute;
    top: 0;
    left:5%;
    display: flex;
    justify-content: center;
    background-size: 100%;
    height: 100vh;
   
}

video {
    display:block;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }



header{
    overflow: hidden;
    top: 0;
    color: white;
    text-align: center;
    width: 100%;
    height: 100px;
    background-color:transparent;
    position: fixed;
    display: flex;
    justify-content: center;
}
div.inside{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
header h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 25px;
    cursor: pointer;
    font-size: 35px;
}
header img{
    float: right;
    width: 30px;
    height: 35px;
    margin-top: 30px;
}
div.landing-text{
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 80%;
    height: 400px;
    margin-top:180px;
    font-size: 70px;
    letter-spacing:14px;
}
div.landing-text>button{
    background-color: white;
    color: rgb(57, 68, 73);
    width: 150px;
    height: 40px;
    border: none;
    font-size: 14px;
}
#btn:hover{
    background-color: transparent;
    border: white 2px solid;
    color: white;
    width: 160px;
    height:  50px;
    transition: ease-in-out;
}

div.content{
    /*margin-top:0;*/
    height:520vh;
    background: #252424;
    background-size: 100%;
    
}
div.details{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    width: 60%;
    font-size: 30px;
    word-spacing: 15px;
}
div#details-text{
    
    padding: 10% 0px 0px 13%;
}
.explore{
    display: flex;
    justify-content:flex-start;
    padding-top: 10%;
}
.explore img{
    overflow: hidden;
   padding: 10% 0px 0px 18%;
    width: 578px;
    height: 100vh;
    object-fit: cover;
    animation: fadeIn 0.9s ease-out;   
}
div#explore-img{
    padding-left: 9.5%;
    width: 44em;
}

@keyframes fadeIn {
    0% {
        opacity:10%;
      width: 0%
    }
    15%{
        width:10%;
    }
    25%{
        width: 20%
    }
    50%{
        width: 40%;
    }
    75%{
        width: 60%;
    }
    85%{
        width: 80%;
    }
    
    100% {
        opacity:100%;
        width: auto;
    }
}


div#explore{
    position: absolute;
    left: 41%;
   padding-top: 20%;
   padding-right: 10px;
}
h3#explore-text{
    font-size: 100px;
    font-variant-caps:all-petite-caps;
    letter-spacing: 10px;
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    animation: fadeText 1s ease-out;

}
.nature{
    display: flex;
    justify-content:space-evenly;
    padding-top: 10%;
    padding-left: 30%;
}
.nature img{
    overflow: hidden;
    padding: 10% 10% 0px 5%;
    width: 578px;
    height: 100vh;
    object-fit: cover;
    animation: fadeInright 0.9s ease-out;      
}
@keyframes fadeInright {
    0% {
        opacity:10%;
      transform: translateX(100px);
    }
    15%{
        width:10%;
    }
    25%{
        width: 20%
    }
    50%{
        width: 40%;
    }
    75%{
        width: 60%;
    }
    85%{
        width: 80%;
    }
    
    100% {
        transform: translateX(10px);
        opacity:100%;
        width: auto;
    }
}
div#nature-img{
    transition: transform 330ms ease-in-out;
    width: 44em;
}
div#nature{
    position: absolute;
   padding-top: 20%;
   padding-right: 40%;
}
h3#nature-text{
    font-size: 100px;
    font-variant-caps:all-petite-caps;
    letter-spacing: 10px;
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    animation: fadeText 1s ease-out;

}
.adventure{
    display: flex;
    justify-content:flex-start;
    padding-top: 10%;
}
.adventure img{
    overflow: hidden;
   padding: 10% 0px 0px 18%;
    width: 578px;
    height: 100vh;
    object-fit: cover; 
}div#adventure-img{
    padding-left: 9.5%;
    width: 44em;
}
div#adventure{
    position: absolute;
    left: 37%;
   padding-top: 20%;
   padding-right: 10px;
}
h3#adventure-text{
    font-size: 100px;
    font-variant-caps:all-petite-caps;
    letter-spacing: 10px;
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    animation: fadeText 1s ease-out;

}
.links{
    margin-top: 10%;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: space-around;
}
div#box4{
    width: 25%;
}
div#box3{
    width: 25%;
}
div#box2{
    width: 25%;
}
div#box1{
    width: 25%;
}
div#timing{
    width: 50%;
    float: right;
    margin-top: 20%;
    font-size: 18px;
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.heading{
    margin: 10px 0px;
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
}
div#company{
    width: 50%;
    float: right;
    margin-top: 20%;
    font-size: 18px;
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
div#company ul{
    list-style: none;
    width: 25%;
}
 li{
    line-height: 1.4em;
}
 li:hover{
    border-bottom: 2px solid white;
}

div#contact{
    padding: 4.12em 0.5em;
    font-size: 18px;
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
div#contact ul{
    font-size: 18px;
    width: 60%;
    list-style: none;
}
div#news{
    width: 80%;
    padding-left: 10%;
    margin-top: 4.4em;
    font-size: 18px;
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
div#news-form{
    display: flex;
    width: 100%;
    margin-top: 1em;
}
div#news-form input{
    background-color: transparent;
    width:100%;
    border: 1px solid white;   
    height: 40px;
}
div#news a{
    text-decoration: none;
}
div#news p{
    margin-top: 25px;
}
div#news-form button{
    
    border: 1px solid white;
    color:grey;
    font-weight: bold;
    background-color: transparent;
    width: 50px;
}
div#news-form button:hover{
    background-color: white;
}

.box5{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    bottom: 0;
    
}
#footer{
    width: 80%;
    height: 100px;
}
#footer p{
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 40px;
    float: left;
    font-size: 18px;
   
}
#footer-links{
    margin: 40px;
    width: 70px;
    height: 20px;
    float: right;
    display: flex;
    justify-content:space-evenly;
}

/*Animation*/
.fade-in{
    opacity: 0;
}
.fade-in.appear{
    opacity: 1;
}
.explore img,
.nature img,
.adventure img{
    transition: transform 400ms ease-in;
}

.explore img.appear,
.nature img.appear,
.adventure img.appear{
    transform: translateX(0);
}



   

@media(max-width:768px){
   
    html,body{
        overflow-x: hidden;
    }
    header h1{
        font-size: 28px;
        
    }
    header{
        position: absolute;
        top: 0;
        overflow: hidden;
        max-width: 100%;
    }
    header img{
        margin-top:25px;
        width: 27 px;
        height: 30px;
    }
   .landing-text h1{
        overflow-x: visible;
        float:none;
        width: 100%;
        height: 150px;
        font-size:48px;
        letter-spacing:10px;
        margin:none;
        padding:none;
        margin-top: 45px;
    }
    section.main{
        
        overflow-x: hidden;
        position:absolute;
        top: 0;
        left: 0;
        display: flex;
        background-size: 100%;
        height: 100vh;
    }
    video{
        overflow-x: hidden;
        width: 100%;
    }
    div.content{
        height: 480vh;
    }
    button#btn{
        
    width: 40%;
    height:  40px;
    transition: ease-in-out;
    margin-top: 50px;
    }
    div.details{
    width: 50%;
    font-size: 22px;
    text-align: left;
    padding-top: 50px;
    word-spacing: 2px;
    line-height: 35px;
    }
    .explore img{
        width: 400px;
        height: 500px;
        float: none;
        margin: 0px;
        padding:0px;
    }
    h3#explore-text{
        margin-top:8em;
        margin-left: 0.8em;
        font-size: 50px;
        font-variant-caps:all-petite-caps;
        letter-spacing: 5px;
    }
    .nature img{
        width: 400px;
        height: 500px;
        margin-right:7em;
    }
    h3#nature-text{
        margin-top:9.2em;
        margin-right: 3.2em;
        font-size: 50px;
        font-variant-caps:all-petite-caps;
        letter-spacing: 5px;
    }
    .adventure img{
        width: 400px;
        height: 500px;
        float: none;
        margin-top: 50px;
        padding:0px;
    }
    h3#adventure-text{
        margin-top:9em;
        margin-left: 0.2em;
        font-size: 50px;
        font-variant-caps:all-petite-caps;
        letter-spacing: 3px;
    }
    .links{
        
        height: 900px;
        display: flex;
        flex-direction: column;
        margin-top: 2em;

    }
    .links p{
        font-size: 20px;
    }
    .links li{
        font-size: 20px;
    }
    .heading{
        font-size: 23px;
    }

   
    div#box1{
          width: 100%;
      }
      div#company{
        float: none;
        text-align: center;
        margin:0px;
        padding:0px;
    }
    div#company ul{
        width: 20%;
        padding-left: 4.4em;
    }
    div#company li:hover{
        border-bottom: 2px solid white;
    }
   

      div#box2{
          width: 100%;
          display: flex;
          justify-content: center;
      }
      div#timing{
        float: none;
        text-align: center;
    }
      div#box1{
          width: 100%;
          display: flex;
          justify-content: center;
      }
      div#contact{
        float: none;
        text-align: center;
        padding:0px;
    }
    div#contact ul{
        font-size: 22px;
        width: 100%;
    }
      div#box3{
          width: 100%;
          display: flex;
          justify-content: center;
      }
      div#news{
        float: none;
        text-align: center;
        margin-top: 0px;
        
        padding:0px;
    }
    div#box4{
        width: 100%;
        display: flex;
        justify-content: center;
    }
  
    #footer{
        
        width: 100%;
    }
    
    
   
  }
